@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}
/* header */
header {
  margin-top: 50px;
  height: 400px;
}

.box {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
}
.profile {
  width: 100%;
  height: 115%;
  object-fit: cover;
}

.typing-txt {
  display: none;
}
.typing-txt > ul {
  list-style: none;
}
.typing {
  height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
.typing ul li {
  display: block;
}
.typing > ul > li:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  color: rgb(81, 81, 82);
}
.typing > ul > li:nth-child(2) {
  font-size: 1.2em;
  color: rgb(125, 125, 128);
}
.typing ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-rignt: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px silid #fff;
  }
}

/* Logo */
.logo {
  margin-top: 50px;
  margin: 0 auto;
  width: 192px;
  height: 60px;
  overflow: hidden;
}
.logoImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 10px;
}
.logoImg:hover {
  opacity: 0.5;
}

/* navigation */
nav {
  border-bottom: #aaa solid 1px;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-size: 15px;
  padding: 8px 30px;
  color: rgb(125, 125, 128);
  border: rgb(125, 125, 128) solid 1px;
  margin: 15px 15px 80px 15px;
  border-radius: 10px;
}
nav ul li:hover {
  opacity: 0.5;
}

/* About Me */
#about {
  margin-top: 70px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-item1 {
  flex-basis: 20%;
  font-size: 1.4em;
  color: #535353;
}
.about-item2 {
  flex-basis: 80%;
  color: #646363;
}

/* Project */
#project {
  margin-top: 100px;
  height: 700px;
}
#project > h2 {
  font-size: 2.2em;
  color: #535353;
}
.project-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
}
.project-item {
  flex-basis: auto;
}
.project-thumnail {
  width: 350px;
  height: 400px;
  box-shadow: 0px 4px 6px 0px #9f9f9f;
  text-align: center;
}
.project-thumnail img {
  width: 280px;
  height: 280px;
  margin: 10px 0 5px 0;
  box-shadow: 0px 4px 6px 0px #9f9f9f;
}
.project-thumnail:hover {
  opacity: 0.8;
}
.myBtn h2 {
  color: #757373;
  font-weight: bold;
}
.myBtn p {
  color: #9c9b9b;
}

/* Project-modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(165, 163, 163);
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 1.2%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content h2 {
  color: #666565;
  margin-top: 20px;
}
.modal-content > p {
  display: inline-block;
  font-size: 15px;
  padding: 8px 30px;
  color: rgb(125, 125, 128);
  border: rgb(125, 125, 128) solid 1px;
  margin: 15px 15px 30px 15px;
  border-radius: 10px;
}
.modal-content > p:hover {
  opacity: 0.5;
}
.modal-content img {
  width: 400px;
  height: 400px;
  box-shadow: 2px 8px 10px 2px #9f9f9f;
}
.modal-content li > p {
  margin-top: 20px;
}

/* Skill */
#skill > h2 {
  font-size: 2.2em;
  color: #535353;
}
.skill-container {
  margin-top: 70px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill-img {
  flex-basis: 30%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  align-self: center;
}
.skill-p {
  flex-basis: 70%;
  color: #646363;
  align-self: center;
}
.skill-p:first-line {
  font-weight: bold;
  font-size: 1.4;
}
footer {
  margin-top: 70px;
  padding-top: 50px;
  border-top: rgb(125, 125, 128) solid 1px;
  height: 100px;
  text-align: center;
  color: rgb(125, 125, 128);
}
