@media screen and (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .project-thumnail {
    width: 200px;
    height: 300px;
  }
  .project-thumnail p {
    padding: 10px;
    font-size: 0.8em;
  }
  .project-thumnail img {
    height: 150px;
  }
  .project-item {
    margin-top: 20px;
  }
  .project-item:first-child {
    margin-top: 0;
  }
  .modal-content {
    margin: 20% auto;
    width: 60%;
    height: 70%;
  }
  footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 769px) {
  .project-container {
    flex-flow: wrap row;
  }
  .project-thumnail {
    height: 550px;
    width: 350px;
    margin-top: 20px;
  }
  .project-thumnail img {
    height: 300px;
  }
  .project-item {
    margin-right: 10px;
  }
  .project-item:last-child {
    margin-right: 0;
  }
  .modal-content {
    margin: 5% auto;
    width: 40%;
    height: 700px;
  }
  footer {
    font-size: 15px;
  }
}
